/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.root{
	backgroundColor: #202020;
	textColor: #FFFFFF;
	controllerNeutralColor: #303030;
	controllerSelectedColor: #808080;
	controllerFocusedColor: #039ED3;
	controllerHoverColor: #0096C9;
	workspaceColor: #808080;
	
    -fx-base: backgroundColor;
}

.progress-bar{
	-fx-accent: green;
}

.scroll-bar .tumb {
	-fx-border-radius: 100;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.scroll-bar:vertical {
    -fx-pref-width: 20;
    -fx-padding: 2;
}

.scroll-bar:horizontal {
    -fx-pref-height: 20;
    -fx-padding: 2;
}

.layer {
	-fx-background-color: backgroundColor;
	-fx-padding: 2.0;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

.layer:selected {
	-fx-background-color: #565656;
}

.layer:focused {
	-fx-border-color: #039ED3;
}

.brush {
	-fx-background-color: backgroundColor;
	-fx-padding: 2.0;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-width: 1.0;
	-fx-border-color: black;
}

.brush:hover {
	-fx-background-color: #565656;
}